/* All common css start */
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,ol{
    list-style-type: none;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
/* All common css end */
/* Header Part start  */
#header_part{
    
}
.logo_with_menu{
    display: flex;
}
.logo{
    width: 40%;
    padding-top: 20px;
}
.menu{
    width: 40%;
}
.menu ul{
    display: flex;
}
.menu ul li a{
    padding: 0 15px;
    line-height: 80px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: black;
}
.icons{
    padding-top: 30px;
    width: 20%;
}
.icons i{
    margin-left: 10px;
}
/* Header Part end  */
/* banner part start */
#banner_part{
    padding-top: 205px;
    padding-bottom: 140px;
    background: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.banner_text h1 {
	font-size: 64px;
	font-weight: 600;
	font-family: "Montserrat", sans-serif;
	padding-right: 659px;
    color: white;
}
.banner_text p {
	font-size: 16px;
	font-weight: 400;
	font-family: "Montserrat", sans-serif;
	color: rgb(255, 255, 255);
	padding-right: 625px;
    line-height: 30px;
    margin-top: 25px;
    margin-bottom: 20px;
}
.banner_text a{
    padding: 35px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    background: white;
    color: black;
    display: inline-block;
}
/* banner part end */
/* brand part start  */
#brand_part{
    
}
.brand_images{
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}
.img1{
    padding-top: 20px;
    width: 250px;
    margin-right: 25px;
}
.img2{
    width: 250px;
    margin-right: 25px;
    padding-top: 55px;
}
.img3{
    width: 250px;
    margin-right: 20px;
    padding-top: 71px;

}
.img4{
    width: 250px;
    margin-right: 25px;
    padding-top: 72px;
}
.img5{

    width: 250px;
    margin-right: 25px;
    padding-top: 75px;
}
.img6{
    width: 250px;
    margin-right: 25px;
    padding-top: 72px;
}
/* brand part end  */
/* jar part start  */
.jar_text h3{
	font-size: 38.4px;
	font-weight: 600px;
	font-family: "Montserrat", sans-serif;
	padding-right: 28px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 67px;
}
.jar_img{
    display: flex;
    padding-top: 70px;
    
}
.jar_img1{
    padding-right: 0px;
}

.jar_img2{
   padding-top: 5px;
   padding-right: 20px;

}

.jar_img3{
    padding-top: 23px;
    padding-right: 1px;
  
}
.jar_img4{
    padding-top: 5px;
}
.jar1_text h3 {
        font-size: 16px;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        padding-right: 45px;
        padding-left: 64px;
        color: rgb(0, 0, 0);
}
.jar2_text h3 {
	font-size: 16px;
	font-weight: 600;
	font-family: "Montserrat", sans-serif;
	padding-right: 27px;
	padding-left: 47px;
	color: rgb(0, 0, 0);
}
.jar3_text h3{
    font-size: 16px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    padding-right: 45px;
    padding-left: 74px;
    color: rgb(0, 0, 0);


}
.jar4_text h3 {
	font-size: 16px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    padding-right: 45px;
    padding-left: 68px;
    color: rgb(0, 0, 0);
}
.jar1_price {
	font-size: 13px;
	font-weight: 700;
	font-family: "Montserrat", sans-serif;
	padding-right: 45px;
	padding-left: 67px;
	color: rgb(0, 0, 0);
    padding-top: 13px;

}
.jar2_price {
	font-size: 13px;
	font-weight: 700;
	font-family: "Montserrat", sans-serif;
	padding-right: 45px;
	padding-left: 67px;
	color: rgb(0, 0, 0);
    padding-top: 13px;

}
.jar3_price {
	font-size: 13px;
	font-weight: 700;
	font-family: "Montserrat", sans-serif;
	padding-right: 45px;
	padding-left: 72px;
	color: rgb(0, 0, 0);
    padding-top: 13px;

}
.jar4_price {
	font-size: 13px;
	font-weight: 700;
	font-family: "Montserrat", sans-serif;
	padding-right: 45px;
	padding-left: 78px;
	color: rgb(0, 0, 0);
    padding-top: 13px;
}
/* jar part end */
/* banner2 part start */
#banner_part2{
    padding-top: 205px;
    padding-bottom: 140px;
    background: url(../images/Section.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 90px;
    
}
.banner_text2 h1 {
	font-size: 32px;
	font-weight: 600;
	font-family: "Montserrat", sans-serif;
	padding-right: 416px;
	color: white;
}
.banner_text2 p {
        font-size: 16px;
        font-weight: 400;
        font-family: "Montserrat", sans-serif;
        color: rgb(255, 255, 255);
        padding-right: 625px;
        line-height: 30px;
        margin-top: 5px;
        margin-bottom: 20px;

}
.banner_text2 a{
    padding: 30px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    background: white;
    color: black;
    display: inline-block;
    width: 110px;
    text-align: center;
}
/* banner2 part end */
/* brand part2 start */
.brand_part2_imgs{
    display: flex;
    padding-top: 65px;
}
.brand_part2_img1{ 
    padding-right: 48px;
    position: relative;

}
.product_detail1 {
	height: 227px;
	width: 460px;
	background-color: #ffffff;
	margin-top: -147px;
	position: absolute;
	margin-left: 40px;
    
}
.product_detail1 h1 {
	font-size: 20.8px;
	font-weight: 600;
	font-family: "Montserrat", sans-serif;
	padding-right: 166px;
	color: rgb(0, 0, 0);
	padding-top: 35px;
    margin-left: 30px;

}
.product_detail1 p {
	font-size: 14px;
	font-weight: 400;
	font-family: "Montserrat", sans-serif;
	color: rgb(0, 0, 0);
	padding-right: 63px;
	line-height: 30px;
	margin-top: 5px;
	margin-bottom: 20px;
	margin-left: 30px;
}
.product_detail1 a {
	padding: 26px;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 500;
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	background: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	display: inline-block;
	margin-left: 30px;
}
.product_detail2{
    height: 227px;
	width: 460px;
	background-color: #ffffff;
	margin-top: -147px;
	position: absolute;
	margin-left: 40px;
}
.product_detail2 h1 {
	font-size: 20.8px;
	font-weight: 600;
	font-family: "Montserrat", sans-serif;
	padding-right: 166px;
	color: rgb(0, 0, 0);
	padding-top: 35px;
    margin-left: 30px;

}
.product_detail2 p {
	font-size: 14px;
	font-weight: 400;
	font-family: "Montserrat", sans-serif;
	color: rgb(0, 0, 0);
	padding-right: 63px;
	line-height: 30px;
	margin-top: 5px;
	margin-bottom: 20px;
	margin-left: 30px;
}
.product_detail2 a {
	padding: 26px;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 500;
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	background: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	display: inline-block;
	margin-left: 30px;
}
/* brand part2 end */
/* faq part start  */
.faq_texts{
}
.faq_text1{
    font-size: 38.4px;
	font-weight: 600px;
	font-family: "Montserrat", sans-serif;
	padding-right: 28px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 170px;

}
.faq_text2 p {
	font-size: 16px;
	font-weight: 600;
	font-family: "Montserrat", sans-serif;
	color: rgba(0, 0, 0, 0.884);
	padding-right: 63px;
	line-height: 76px;
	margin-top: 78px;
	margin-bottom: -67px;
	margin-left: 30px;
	border-top: 1px solid #00000036;
	border-bottom: 1px solid #00000036;
	width: 1070px;
	height: 76px;
    position: relative;
}
.faq_text3 p {
	font-size: 16px;
	font-weight: 600;
	font-family: "Montserrat", sans-serif;
	color: rgba(0, 0, 0, 0.884);
	padding-right: 63px;
	line-height: 52px;
	margin-top: 36px;
	margin-bottom: 20px;
	margin-left: 30px;
	border-bottom: 1px solid #00000036;
	width: 1070px;
	height: 61px;
    position: relative;

}
.faq_text4 p {
	font-size: 16px;
	font-weight: 600;
	font-family: "Montserrat", sans-serif;
	color: rgba(0, 0, 0, 0.884);
	padding-right: 63px;
	line-height: 52px;
	margin-top: -13px;
	margin-bottom: 20px;
	margin-left: 30px;
	border-bottom: 1px solid #00000036;
	width: 1070px;
	height: 59px;
    position: relative;

}
.faq_text5 p {
	font-size: 16px;
	font-weight: 600;
	font-family: "Montserrat", sans-serif;
	color: rgba(0, 0, 0, 0.884);
	padding-right: 63px;
	line-height: 30px;
	margin-top: -15px;
	margin-bottom: 20px;
	margin-left: 30px;
	border-bottom: 1px solid #00000036;
	width: 1070px;
	height: 46px;
	position: relative;
}
.faq_text2 i {
	position: absolute;
	padding-top: 30px;
	padding-left: 900px;
}
.faq_text3 i {
	position: absolute;
	padding-top: 18px;
	padding-left: 778px;
}
.faq_text4 i {
	position: absolute;
	padding-top: 16px;
	padding-left: 733px;
}
.faq_text5 i {
	position: absolute;
	padding-top: 4px;
	padding-left: 730px;
}
/* faq part end  */
/* ending part star  */
#ending_part {
    height: 458.55px;
    background: #000000;
    width: 100%;
    margin-top: 80px;
    position: relative;
}
.logo2 {
	padding-left: -112px;
	padding-top: 61px;
}
.card {
	padding-top: 168px;
	padding-left: 759px;
}
.text1 h3 {
	font-size: 20.8px;
	font-weight: 600;
	font-family: "Montserrat", sans-serif;
	padding-right: 166px;
	color: rgb(255, 255, 255);
	margin-top: -361px;
	margin-left: 232px;
}
.text1  p {
	font-size: 16px;
	font-weight: 400;
	font-family: "Montserrat", sans-serif;
	padding-right: 1500px;
	color: rgb(255, 255, 255);
	margin-top: 20px;
	margin-left: 232px;
}
.text2 h3 {
	font-size: 20.8px;
	font-weight: 600;
	font-family: "Montserrat", sans-serif;
	padding-right: 166px;
	color: rgb(255, 255, 255);
	margin-top: -112px;
	margin-left: 416px;
}
.text2 p {
	font-size: 16px;
	font-weight: 400;
	font-family: "Montserrat", sans-serif;
	padding-right: 100px;
	color: rgb(255, 255, 255);
	margin-top: 24px;
	margin-left: 419px;
}

.text3 h3 {
	font-size: 20.8px;
	font-weight: 600;
	font-family: "Montserrat", sans-serif;
	padding-right: 166px;
	color: rgb(255, 255, 255);
	margin-top: -114px;
	margin-left: 646px;
}
.text3 p {
	font-size: 16px;
	font-weight: 400;
	font-family: "Montserrat", sans-serif;
	padding-right: 100px;
	color: rgb(255, 255, 255);
	margin-top: 24px;
	margin-left: 645px;
	line-height: 21.1px;
}


.text4 h3 {
	font-size: 20.8px;
	font-weight: 600;
	font-family: "Montserrat", sans-serif;
	padding-right: 75px;
	color: rgb(255, 255, 255);
	margin-top: -120px;
	margin-left: 888px;
}
.text4 p {
	font-size: 16px;
	font-weight: 400;
	font-family: "Montserrat", sans-serif;
	padding-right: 43px;
	color: rgb(255, 255, 255);
	margin-top: 20px;
	margin-left: 890px;
}
.ending_part_imgs i {
	position: absolute;
	margin-top: -20px;
	padding-left: 1235px;
}
.text5 p {
	font-size: 16px;
	font-weight: 400;
	font-family: "Montserrat", sans-serif;
	padding-right: 43px;
	color: rgb(255, 255, 255);
	margin-top: 178px;
	margin-left: 7px;
}
/* ending part end  */